<html>
  <head>
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="" />
    <link
      rel="stylesheet"
      as="style"
      onload="this.rel='stylesheet'"
      href="https://fonts.googleapis.com/css2?display=swap&amp;family=Lexend%3Awght%40400%3B500%3B700%3B900&amp;family=Noto+Sans%3Awght%40400%3B500%3B700%3B900"
    />

    <title>Stitch Design</title>
    <link rel="icon" type="image/x-icon" href="data:image/x-icon;base64," />

    <script src="https://cdn.tailwindcss.com?plugins=forms,container-queries"></script>
  </head>
  <body>
    <div class="relative flex size-full min-h-screen flex-col bg-[#221112] dark group/design-root overflow-x-hidden" style='font-family: Lexend, "Noto Sans", sans-serif;'>
      <div class="layout-container flex h-full grow flex-col">
        <header class="flex items-center justify-between whitespace-nowrap border-b border-solid border-b-[#472426] px-10 py-3">
          <div class="flex items-center gap-4 text-white">
            <div class="size-4">
              <svg viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M44 4H30.6666V17.3334H17.3334V30.6666H4V44H44V4Z" fill="currentColor"></path></svg>
            </div>
            <h2 class="text-white text-lg font-bold leading-tight tracking-[-0.015em]">Muscleon</h2>
          </div>
          <div class="flex flex-1 justify-end gap-8">
            <div class="flex items-center gap-9">
              <a class="text-white text-sm font-medium leading-normal" href="#">New In</a>
              <a class="text-white text-sm font-medium leading-normal" href="#">Men</a>
              <a class="text-white text-sm font-medium leading-normal" href="#">Women</a>
              <a class="text-white text-sm font-medium leading-normal" href="#">Accessories</a>
              <a class="text-white text-sm font-medium leading-normal" href="#">Sale</a>
            </div>
            <div class="flex gap-2">
              <button
                class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-lg h-10 px-4 bg-[#472426] text-white text-sm font-bold leading-normal tracking-[0.015em]"
              >
                <span class="truncate">Sign In</span>
              </button>
              <button
                class="flex max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-lg h-10 bg-[#472426] text-white gap-2 text-sm font-bold leading-normal tracking-[0.015em] min-w-0 px-2.5"
              >
                <div class="text-white" data-icon="MagnifyingGlass" data-size="20px" data-weight="regular">
                  <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" fill="currentColor" viewBox="0 0 256 256">
                    <path
                      d="M229.66,218.34l-50.07-50.06a88.11,88.11,0,1,0-11.31,11.31l50.06,50.07a8,8,0,0,0,11.32-11.32ZM40,112a72,72,0,1,1,72,72A72.08,72.08,0,0,1,40,112Z"
                    ></path>
                  </svg>
                </div>
              </button>
              <button
                class="flex max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-lg h-10 bg-[#472426] text-white gap-2 text-sm font-bold leading-normal tracking-[0.015em] min-w-0 px-2.5"
              >
                <div class="text-white" data-icon="ShoppingBag" data-size="20px" data-weight="regular">
                  <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" fill="currentColor" viewBox="0 0 256 256">
                    <path
                      d="M216,40H40A16,16,0,0,0,24,56V200a16,16,0,0,0,16,16H216a16,16,0,0,0,16-16V56A16,16,0,0,0,216,40Zm0,160H40V56H216V200ZM176,88a48,48,0,0,1-96,0,8,8,0,0,1,16,0,32,32,0,0,0,64,0,8,8,0,0,1,16,0Z"
                    ></path>
                  </svg>
                </div>
              </button>
            </div>
          </div>
        </header>
        <div class="px-40 flex flex-1 justify-center py-5">
          <div class="layout-content-container flex flex-col max-w-[960px] flex-1">
            <div class="flex flex-wrap justify-between gap-3 p-4"><p class="text-white tracking-light text-[32px] font-bold leading-tight min-w-72">Supplements</p></div>
            <div class="flex gap-3 p-3 flex-wrap pr-4">
              <div class="flex h-8 shrink-0 items-center justify-center gap-x-2 rounded-lg bg-[#472426] pl-2 pr-4">
                <div class="text-white" data-icon="Funnel" data-size="20px" data-weight="regular">
                  <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" fill="currentColor" viewBox="0 0 256 256">
                    <path
                      d="M230.6,49.53A15.81,15.81,0,0,0,216,40H40A16,16,0,0,0,28.19,66.76l.08.09L96,139.17V216a16,16,0,0,0,24.87,13.32l32-21.34A16,16,0,0,0,160,194.66V139.17l67.74-72.32.08-.09A15.8,15.8,0,0,0,230.6,49.53ZM40,56h0Zm108.34,72.28A15.92,15.92,0,0,0,144,139.17v55.49L112,216V139.17a15.92,15.92,0,0,0-4.32-10.94L40,56H216Z"
                    ></path>
                  </svg>
                </div>
                <p class="text-white text-sm font-medium leading-normal">Category</p>
              </div>
              <div class="flex h-8 shrink-0 items-center justify-center gap-x-2 rounded-lg bg-[#472426] pl-2 pr-4">
                <div class="text-white" data-icon="CurrencyDollar" data-size="20px" data-weight="regular">
                  <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" fill="currentColor" viewBox="0 0 256 256">
                    <path
                      d="M152,120H136V56h8a32,32,0,0,1,32,32,8,8,0,0,0,16,0,48.05,48.05,0,0,0-48-48h-8V24a8,8,0,0,0-16,0V40h-8a48,48,0,0,0,0,96h8v64H104a32,32,0,0,1-32-32,8,8,0,0,0-16,0,48.05,48.05,0,0,0,48,48h16v16a8,8,0,0,0,16,0V216h16a48,48,0,0,0,0-96Zm-40,0a32,32,0,0,1,0-64h8v64Zm40,80H136V136h16a32,32,0,0,1,0,64Z"
                    ></path>
                  </svg>
                </div>
                <p class="text-white text-sm font-medium leading-normal">Price Range</p>
              </div>
              <div class="flex h-8 shrink-0 items-center justify-center gap-x-2 rounded-lg bg-[#472426] pl-2 pr-4">
                <div class="text-white" data-icon="Star" data-size="20px" data-weight="regular">
                  <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" fill="currentColor" viewBox="0 0 256 256">
                    <path
                      d="M239.2,97.29a16,16,0,0,0-13.81-11L166,81.17,142.72,25.81h0a15.95,15.95,0,0,0-29.44,0L90.07,81.17,30.61,86.32a16,16,0,0,0-9.11,28.06L66.61,153.8,53.09,212.34a16,16,0,0,0,23.84,17.34l51-31,51.11,31a16,16,0,0,0,23.84-17.34l-13.51-58.6,45.1-39.36A16,16,0,0,0,239.2,97.29Zm-15.22,5-45.1,39.36a16,16,0,0,0-5.08,15.71L187.35,216v0l-51.07-31a15.9,15.9,0,0,0-16.54,0l-51,31h0L82.2,157.4a16,16,0,0,0-5.08-15.71L32,102.35a.37.37,0,0,1,0-.09l59.44-5.14a16,16,0,0,0,13.35-9.75L128,32.08l23.2,55.29a16,16,0,0,0,13.35,9.75L224,102.26S224,102.32,224,102.33Z"
                    ></path>
                  </svg>
                </div>
                <p class="text-white text-sm font-medium leading-normal">Rating</p>
              </div>
              <div class="flex h-8 shrink-0 items-center justify-center gap-x-2 rounded-lg bg-[#472426] pl-2 pr-4">
                <div class="text-white" data-icon="SortAscending" data-size="20px" data-weight="regular">
                  <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" fill="currentColor" viewBox="0 0 256 256">
                    <path
                      d="M128,128a8,8,0,0,1-8,8H48a8,8,0,0,1,0-16h72A8,8,0,0,1,128,128ZM48,72H184a8,8,0,0,0,0-16H48a8,8,0,0,0,0,16Zm56,112H48a8,8,0,0,0,0,16h56a8,8,0,0,0,0-16Zm125.66-21.66a8,8,0,0,0-11.32,0L192,188.69V112a8,8,0,0,0-16,0v76.69l-26.34-26.35a8,8,0,0,0-11.32,11.32l40,40a8,8,0,0,0,11.32,0l40-40A8,8,0,0,0,229.66,162.34Z"
                    ></path>
                  </svg>
                </div>
                <p class="text-white text-sm font-medium leading-normal">Sort By</p>
              </div>
            </div>
            <div class="grid grid-cols-[repeat(auto-fit,minmax(158px,1fr))] gap-3 p-4">
              <div class="flex flex-col gap-3 pb-3">
                <div
                  class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-lg"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuDdpCVAHcAf1aPEByi8Xz20QFBowwOFT-dXJtsSVrupUIXeS2yW-ruko1AQa0sC1FqzZyZRg7MRA9dXPeLujKJLcJ69CZVAYqKrHIb6ujEMfdeL9EbVVTS4ntAVgzA2NPKRoFjC0UjpohGCSSmgsYi4l2CZIM3KpE5OQmEozPH43scLGlFvuSfb7SvQvXacefVgAFO6PuhAZUMucR7RgAOs9BJhmCX-m4bushUVa3uScv23s-ODNzM5ZXSXDXicmYsZlJ_L67dgyHo");'
                ></div>
                <div>
                  <p class="text-white text-base font-medium leading-normal">Muscleon Whey Protein</p>
                  <p class="text-[#c89295] text-sm font-normal leading-normal">$29.99</p>
                  <p class="text-[#c89295] text-sm font-normal leading-normal">4.5</p>
                </div>
              </div>
              <div class="flex flex-col gap-3 pb-3">
                <div
                  class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-lg"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuApv8g6YB17WK5uvqiKaEPSS6s51SMXpTtUc4ukZ-65U8usTzU34RezstcgH1EbWYFlnzataGaU-bKHXV5CT7xOgNvnNUoTRALB0n088m3WGWOuEoBmJ6CoWVU2hGgyu3AxbL98sxP_cb-OJqSiwT6rQuY-u1BgbtJn55s-jh6XhhIgKZqtw7o0fsLltaJ4rqigTI6ZuNGLcELykGd3BImG6Q9b8blTLFEHKS4mW-taQI012rYl1VxGvrV0JM_J90n44GMsVWEpmFs");'
                ></div>
                <div>
                  <p class="text-white text-base font-medium leading-normal">Muscleon Creatine Monohydrate</p>
                  <p class="text-[#c89295] text-sm font-normal leading-normal">$19.99</p>
                  <p class="text-[#c89295] text-sm font-normal leading-normal">4.7</p>
                </div>
              </div>
              <div class="flex flex-col gap-3 pb-3">
                <div
                  class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-lg"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuBzugR0qZMsQVq6KL4lEOk8F3AUrbMaHV4_LnCzeGPAicabA-TADNUramFXIF8jHbQ4iZKdFLuH_nSzQr0Cfe9zIoa0qOk5SXh6juoOCtnMbRX5RC4FUSxqrDBIDWhs2sScWkMrBUMwASOx2LsPrOig5hZYsDW8popbBe8nk1W4SdzJKzpzWfkeA4JRW_lyaC7o6buqwoKwzRBIeNC9okEFBxm6F15kV25pKBhUZEm1LGmQrcH4yTpUFiZi1MUJY1rxPah6nMfdlZ8");'
                ></div>
                <div>
                  <p class="text-white text-base font-medium leading-normal">Muscleon Pre-Workout</p>
                  <p class="text-[#c89295] text-sm font-normal leading-normal">$34.99</p>
                  <p class="text-[#c89295] text-sm font-normal leading-normal">4.3</p>
                </div>
              </div>
              <div class="flex flex-col gap-3 pb-3">
                <div
                  class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-lg"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuBSuPJG8n8j0JYmigPJ5CIecTyxISkmX35YTrcw0tnfowSgyEzYrgaGhvmbtZYeWN81SGpvYPa5r2xiKkhTq-jO8q3VUgFQr4OTCBtGK9d7WrsV3UPRzHbuG0EFewoMGETlWTL5C14g4WFEmIpWaOZSro3zD3ttnErJBG-fPuTpfQQe_c3J9Jq5jndMvgWBtdSbHrT6Yo8gu8v1LAa_PAQbv4UjbwA_TSQ7ZAe7MUCArW7y001vwGyFNRwzCbOavAmuX79bFGRsqc0");'
                ></div>
                <div>
                  <p class="text-white text-base font-medium leading-normal">Muscleon BCAA</p>
                  <p class="text-[#c89295] text-sm font-normal leading-normal">$24.99</p>
                  <p class="text-[#c89295] text-sm font-normal leading-normal">4.6</p>
                </div>
              </div>
              <div class="flex flex-col gap-3 pb-3">
                <div
                  class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-lg"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuDWvk4tbfFEhXF1M0cAIrGbzPCdyY4kPqBTCVyjMLQtm3HCtaN0dkbBAWAvoxyGS9RcFGqtyFN0eFuvu-R5ohN3oKFThGd1r9C2Y80AizEup_fOSLPQdL9iQsVbnFdF15PB9X0LhhbcYvZKlqoLRSfTxrADuBf6duHXC0eH_L3uu6EoPCA4URQ9yS6QaVWeW28jqk54BBB7Tf_7Zb5mSJphCUj-mg4bMjB9pvkp0lSweql4eAFS3ZXDM5ZF7V5Nvsf-uCGw3VC_vc8");'
                ></div>
                <div>
                  <p class="text-white text-base font-medium leading-normal">Muscleon Multivitamin</p>
                  <p class="text-[#c89295] text-sm font-normal leading-normal">$14.99</p>
                  <p class="text-[#c89295] text-sm font-normal leading-normal">4.4</p>
                </div>
              </div>
              <div class="flex flex-col gap-3 pb-3">
                <div
                  class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-lg"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuD0VlAoNzBYqiCvdEluqcOCBGv4ybAJctEB62-zHvBywrMEXkco9x4Lxl4EYuBZwKvLMlheWgO8wJE28zE2VKrqNJf47n_o98Cu6L_427C6tWecPRJz8KhdDa7tME4C664R1Wc8bpl0VdslKW1X1q1n5szZc4WdKY6kpAoqKzmAn4YdNBZXSKiCL3lpdxmzT2YvalkoiEo6G1MohniYaYz0q1sArBRY6f22a9CSI6K4lM1S-yMWZ_u2ECQl4mZD2FX7fndsC60IZhM");'
                ></div>
                <div>
                  <p class="text-white text-base font-medium leading-normal">Muscleon Omega-3</p>
                  <p class="text-[#c89295] text-sm font-normal leading-normal">$9.99</p>
                  <p class="text-[#c89295] text-sm font-normal leading-normal">4.8</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
